.title {
  font-size: 32px;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 12px;
}

.events {
  width: 97%;
  margin-bottom: 1%;
}

.event {
  margin-bottom: 3%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 0% 1% 0%;
}

.mobileEventName {
  display: none;
}

.location {
  color: rgb(88, 88, 88);
}

@media (max-width: 1060px) {
  .title {
    font-size: 6vw;
  }
}

@media (max-width: 600px) {
  .eventName {
    display: none;
  }

  .mobileEventName {
    display: block;
  }
}
