.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  position: relative;
  margin: 0 24px 24px 0;
  min-height: 220px;
  width: 47%;
}

.project:hover, .project:focus-visible {
  transform: scale(1.02);
}

.title {
  font-size: 32px;
  margin-bottom: 16px;
}

@media (max-width: 1060px) {
  .projects {
    margin-right: 55px;
  }

  .project {
    width: 100%;
  }

  .title {
    font-size: 6vw;
  }
}
